# Node.js specific
node_modules/
.env
.env.local
.env.development
.env.test
.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
dist/
build/
logs/
helo.txt
serviceAccountKey.json
serviceAccountKey-old.json
serviceAccountKey-Telehealth.json
serviceAccountKey-Telehealth-old.json
telehealth/documents/
