@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import 'leaflet/dist/leaflet.css';
@import "tailwindcss";

:root {
  --background: #eeede9;
  --foreground: #ffffff;
  --text: #28161c;
}

@theme {
  --color-primary: #25c8b1; /* Custom primary color */
  --color-secondary: #28161c; /* Custom secondary color */
  --color-tertiary: #eeede9; /* Custom tertiary color */
  --color-error: #ff0000; /* Custom error color */
  --font-primary: "Poppins";
  --color-background: #eeede9;
}
body {
  background-color: var(--background);
  font-family: var(--font-primary);
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}


.leaflet-container {
  font-family: inherit;
}

.leaflet-popup-content {
  margin: 8px 12px;
  line-height: 1.4;
}